/* this is css */
@import "compass/css3";
@import url("css/cabinet-grotesk.css");
@font-face {
  font-family: Blanka;
  src: url(css/Blanka_Countdown.otf);
  format: ("opentype");
}
body {
  background: #21262e;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.flex-container {
  padding: 9px 14px 45px 182px;
  margin: 0px 7px 0px 12px;
  list-style: none;
  display: flex;
  justify-content: end;
  margin: 0px 10px 0px 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.flex-item1 {
  /* background: rgb(24, 25, 34); */
  padding: 5px;
  width: 162px;
  height: 80px;
  margin-top: 10px;
}
.flex-item2 {
  /* background: rgb(24, 25, 34); */
  padding: 5px;
  width: 308px;
  height: 80px;
  margin-top: 10px;
}
.flex-item3 {
  padding: 5px;
  width: 325px;
  height: 80px;
  margin-top: 10px;
}
.countdown-container {
  font-family: Blanka;
  font-size: 50px;
  line-height: 0.4;
}

.section2 {
  padding: 40px 217px 0px 233px;

  display: flex;
  justify-content: space-between;
}

.section3 {
  padding: 142px 347px 0px 266px;
  display: flex;
  justify-content: space-evenly;
}

.section3 > div {
  letter-spacing: 2px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 25px;
}
.follow {
  align-self: center;
}
