/* this is css */
@import url("css/cabinet-grotesk.css");
@font-face {
  font-family: Blanka;
  src: url(css/Blanka_Countdown.otf);
  format: ("opentype");
}
body {
  background: #21262e;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
.responsive1 {
  width: 42.33%;
  max-width: 400px;
  height: auto;
}
.responsive2 {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.responsive3 {
  width: 33.33%;
  max-width: 400px;
  height: auto;
}
#sec1 {
  padding-inline-start: 6rem;
  padding-inline-end: 6rem;
  padding-top: 1.8rem;
}
iframe {
  border-radius: 30px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(43, 43, 43, 0.479),
    0 1px 2px rgba(39, 71, 131, 0.479);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(45, 40, 73, 0.25),
    0 10px 10px rgba(106, 105, 189, 0.521);
}

#sec2 {
  padding: 60px;
}
.countdown-container {
  margin-top: 2px;
  padding: 1rem;
  font-family: Blanka;
  font-size: 5vw;
  line-height: 3.8vw;
}
@media (max-width: 768px) {
  .countdown-container {
    font-size: 10vw;
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
  }
  iframe {
    width: 19rem;
    height: 15rem;
  }
}

#sec3 {
  justify-content: center;
}

.section3 > div {
  letter-spacing: 2px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 25px;
}
.follow {
  align-self: center;
}

a:link {
  text-decoration: none;
}
