/* this is css */
@import url("css/cabinet-grotesk.css");
@font-face {
  font-family: Blanka;
  src: url(css/Blanka_Countdown.otf);
  format: ("opentype");
}
body {
  background: #21262e;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.responsive1 {
  width: 42.33%;
  max-width: 400px;
  height: auto;
}
.responsive2 {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.responsive3 {
  width: 33.33%;
  max-width: 400px;
  height: auto;
}
#sec1 {
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  padding-top: 1.8rem;
}
iframe {
  border-radius: 30px;
}

#sec2 {
  padding: 60px;
}
.countdown-container {
  margin-top: 8px;
  font-family: Blanka;
  font-size: 5vw;
  line-height: 3.8vw;
}

#sec3 {
  justify-content: center;
}

.section3 > div {
  letter-spacing: 2px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 25px;
}
.follow {
  align-self: center;
}

a:link {
  text-decoration: none;
}
